@page "/addstudent"
@page "/addstudent/{id:int}"
@using System.ComponentModel.DataAnnotations
@using Microsoft.Extensions.Logging
@using MudBlazorWASM.Client.Services
@inject HttpClient httpClient;
@inject IStudentService StudentService
@inject ISnackbar Snackbar
@inject HttpClient httpClient;
@inject NavigationManager NavigationManager



<h3>Create Subject</h3>

<EditForm Model="@model" OnValidSubmit="Save1">
<DataAnnotationsValidator/>
<MudGrid>
    <MudItem xs="12" sm="7">
            <MudCard>
            <MudCardContent>
                    <MudTextField T="int" Label="IDNO." 
                    @bind-Value="model.Studno" For="@(() => model.Studno)" />

                    <MudTextField T="string" Label="LASTNAME" 
                    @bind-Value="model.Lastname" For="@(() => model.Lastname)"/>

                    <MudTextField T="string" Label="FIRSTNAME" 
                    @bind-Value="model.Firstname" For="@(() => model.Firstname)" />

                    <MudTextField T="string" Label="MI" 
                    @bind-Value="model.Mi" For="@(() => model.Mi)"/>

                    <MudTextField T="string" Label="SEX" 
                    @bind-Value="model.Gender" For="@(() => model.Gender)" />

                    <MudTextField T="int" Label="DEPT#" 
                    @bind-Value="model.Deptno" For="@(() => model.Deptno)"/>

                    <MudTextField T="string" Label="RELIGION" 
                    @bind-Value="model.Religion" For="@(() => model.Religion)" />

                    <MudTextField T="string" Label="SCHOLAR TYPE" 
                    @bind-Value="model.Scholar" For="@(() => model.Scholar)"/>

                    <MudTextField T="int" Label="SCHOL. CODE" 
                    @bind-Value="model.Schcode" For="@(() => model.Schcode)" />

                    <MudTextField T="int" Label="AWARD #" 
                    @bind-Value="model.Awardno" For="@(() => model.Awardno)"/>

                    <MudTextField T="int" Label="CLAIM #" 
                    @bind-Value="model.Claimno" For="@(() => model.Claimno)"/>

                    <MudTextField T="int" Label="CREDIT #" 
                    @bind-Value="model.Creditno" For="@(() => model.Creditno)"/>

                    <MudTextField T="int" Label="GRANT #" 
                    @bind-Value="model.Grantno" For="@(() => model.Grantno)"/>

                    <MudTextField T="string" Label="SC. GRANT #" 
                    @bind-Value="model.Schgrant" For="@(() => model.Schgrant)"/>

                    <MudTextField T="string" Label="SC APP." 
                    @bind-Value="model.Schapp" For="@(() => model.Schapp)"/>

                    <MudTextField T="string" Label="REGION" 
                    @bind-Value="model.Region" For="@(() => model.Region)"/>

                    <MudTextField T="string" Label="SC. ACCT." 
                    @bind-Value="model.Schacct" For="@(() => model.Schacct)"/>

                    <MudTextField T="string" Label="ADDRESS #" 
                    @bind-Value="model.Schadd" For="@(() => model.Schadd)"/>

                    <MudTextField T="string" Label="SC. VET" 
                    @bind-Value="model.Schvet" For="@(() => model.Schvet)"/>

                    <MudTextField T="string" Label="STATUS" 
                    @bind-Value="model.Status" For="@(() => model.Status)"/>

                    <MudTextField T="string" Label="PTAG" 
                    @bind-Value="model.Ptag" For="@(() => model.Ptag)"/>

            </MudCardContent>
            <MudCardActions>
             <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto"  >Save New Student</MudButton>
             </MudCardActions>  
       </MudCard>
           
           
     </MudItem>
           @*<MudItem xs="12" sm="5">
        <MudPaper Class="pa-4 mud-height-full">
            <MudText Typo="Typo.subtitle2">Validation Summary</MudText>
            @if (success)
            {
                <MudText Color="Color.Success"  Class="ml-auto">Success</MudText>
            }
            else
            {
                <MudText Color="@Color.Error">
                    <ValidationSummary />
                    
                </MudText>
            }
        </MudPaper>
    </MudItem>*@ 
    <MudItem xs="12">
        <MudText Typo="Typo.body2" Align="Align.Center">
            Fill out the form correctly to see the success message.
        </MudText>
    </MudItem>
</MudGrid>
</EditForm>

@code {
    [Parameter]
    public int? Studid{ get; set; }

    string Save = string.Empty;

    Student model = new Student {};
    bool success;

    //  public  class StudentList1
    //  {
    //    [Required]
    //    public int  ID { get; set; }
    //    [Required]
    ///    public int COURSENO { get; set; }
    ///    [Required]
    //    public string  COURSEDESC { get; set; }
    //    [Required]
    //    public int  CREDITS { get; set; }
    //     [Required]
    //    public string  Enrollments { get; set; }
    //};

    async Task Save1()
    {
         if(Studid == null)
        {
             await StudentService.CreateStudent(model);
           Snackbar.Add("Student Saved", Severity.Success);
        } 
    }





}