@page "/addsubject1"
@inject ISubjectService SubjectService

@if (Id == null)
{
    <PageTitle>Add New Subject</PageTitle>
   <h3>CreateSub</h3>
}
else
{
     <PageTitle>Edit @addSub.Coursedesc</PageTitle>
    <h3>Edit @addSub.Coursedesc</h3>
}

<EditForm Model="addSub" OnSubmit="HandleSubmit">

                    <MudTextField T="string" Label="Code" 
                    @bind-Value="addSub.Coursecode" For="@(() => addSub.Coursecode)" />

                    <MudTextField T="string" Label="Description" 
                    @bind-Value="addSub.Coursedesc" For="@(() => addSub.Coursedesc)"/>

                    <MudTextField T="int" Label="Lab Units" 
                    @bind-Value="addSub.Lab" For="@(() => addSub.Lab)"/>

                    <MudTextField T="int" Label="Lec Units" 
                    @bind-Value="addSub.Lec" For="@(() => addSub.Lec)"/>

                    <MudTextField T="int" Label="Total Units" 
                    @bind-Value="addSub.Units" For="@(() => addSub.Units)"/>

                    <MudTextField T="string" Label="Category" 
                    @bind-Value="addSub.Category" For="@(() => addSub.Category)" />

                    <MudTextField T="string" Label="Status" 
                    @bind-Value="addSub.Status" For="@(() => addSub.Status)"/>

                    <MudTextField T="int" Label="Semester" 
                    @bind-Value="addSub.Semester" For="@(() => addSub.Semester)"/>

                    <MudTextField T="string" Label="YearLevel" 
                    @bind-Value="addSub.Yrlevel" For="@(() => addSub.Yrlevel)"/>

                    <MudTextField T="string" Label="Type" 
                    @bind-Value="addSub.Tyype" For="@(() => addSub.Tyype)"/>
    <br />
    <button type="Submit" class="btn btn-primary">@btnText</button>
    <button type="Submit" class="btn btn-danger" @onclick="DeleteSubject">Delete Subject</button>
</EditForm>

@code {
    [Parameter]
    public int? Id { get; set; }

    string btnText = string.Empty;

    Subject addSub = new Subject {};

    protected override async Task OnInitializedAsync()
    {
        btnText = Id == null ? "Save New Subject" : "Update Subject";

    }

    protected override async Task OnParametersSetAsync()
    {
        if (Id == null)
        {
            //Add a New Student
            addSub.Coursecode = addSub.Coursecode;
        }
        else
        {
            addSub = await SubjectService.GetCourseNo((int) Id);
        }
    }

    async Task HandleSubmit()
    {
        if (Id == null)
        {
            await SubjectService.CreateNewSubjects(addSub);
        }
        else
        {
            await SubjectService.UpdateAllSubjects(addSub);
        }

    }
    async Task DeleteSubject() => await SubjectService.DeleteSubject(addSub.Id);
}