@page "/addsubject"
@page "/addsubject/{id:int}"
@using System.ComponentModel.DataAnnotations
@using Microsoft.Extensions.Logging
@inject HttpClient httpClient;
@inject ILogger<CreateSubject> Logger
@inject ISubjectService SubjectService
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager



<h3>Create Subject</h3>

<EditForm Model="@model" OnValidSubmit="Save1">
<DataAnnotationsValidator/>
<MudGrid>
    <MudItem xs="12" sm="7">
            <MudCard>
            <MudCardContent>
                    <MudTextField T="string" Label="Code" 
                    @bind-Value="model.Coursecode" For="@(() => model.Coursecode)" />

                    <MudTextField T="string" Label="Description" 
                    @bind-Value="model.Coursedesc" For="@(() => model.Coursedesc)"/>

                    <MudTextField T="int" Label="Lab Units" 
                    @bind-Value="model.Lab" For="@(() => model.Lab)"/>

                    <MudTextField T="int" Label="Lec Units" 
                    @bind-Value="model.Lec" For="@(() => model.Lec)"/>

                    <MudTextField T="int" Label="Total Units" 
                    @bind-Value="model.Units" For="@(() => model.Units)"/>

                    <MudTextField T="string" Label="Category" 
                    @bind-Value="model.Category" For="@(() => model.Category)" />

                    <MudTextField T="string" Label="Status" 
                    @bind-Value="model.Status" For="@(() => model.Status)"/>

                    <MudTextField T="int" Label="Semester" 
                    @bind-Value="model.Semester" For="@(() => model.Semester)"/>

                    <MudTextField T="string" Label="YearLevel" 
                    @bind-Value="model.Yrlevel" For="@(() => model.Yrlevel)"/>

                    <MudTextField T="string" Label="Type" 
                    @bind-Value="model.Tyype" For="@(() => model.Tyype)"/>

            </MudCardContent>
            <MudCardActions>
             <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto"  >Save New Subject</MudButton>
             </MudCardActions>  
       </MudCard>
           
           
     </MudItem>
           
    <MudItem xs="12">
        <MudText Typo="Typo.body2" Align="Align.Center">
            Fill out the form correctly to see the success message.
        </MudText>
    </MudItem>
</MudGrid>
</EditForm>

@code {
    [Parameter]
    public int? Id{ get; set; }
    string Save = string.Empty;
    Subject model = new Subject {};
    

        
   

     async Task Save1()
    {
           if(Id == null)
        {
            await SubjectService.CreateNewSubjects(model);
           Snackbar.Add("Subject Saved", Severity.Success);
        } 
    }
}
        
        



    


 